*
{
    margin: 0%;
    padding: 0%;
}

:root{
    font-size: 3vh;
    --Font_familiy : 'Mukta', sans-serif;
    --User_icon_color: rgb(248, 248, 248); 
    --Username_textColor : rgb(235, 235, 235) ; 
    --Slidemenu_bgColor: #2C3333; 
    --Slidemenu_option_name_textColor: rgb(215,215,215); 
    --Slidemenu_option_name_hoverColor: white; 
    --Slidemenu_icon_color: rgb(255, 255, 255); 
    --Slidemenu_icon_hoverColor: white; 

    --Dashboard_opiton_bgColor: #395B64;
    --Dashboard_option_hover_bgColor: #5e9aaa; 
    --Dashboard_option_boxShadow: #E7F6F2; 
    
    --Email_content_bgColor: white; 
    --EmailData_boxshadow_color: #eaeaea;  
    --EmailData_hover_boxshdow_color: rgb(194, 194, 194); 

    --EmailOption_subject_titleColor: #ffffff ; 
    --EmailOption_subject_dataColor: #f0f0f0; 
    --EmailOption_icon_color: white; 
         
    --From_date_titleColor: black; 
    --From_date_dataColor: rgb(85, 85, 85); 

    --Subject_title_div_bgColor: #395B64; 

    /* Connected email division  */
    --Connected_email_div_bgColor: #2C3333; 
    --Connected_email_hoverColor: #4e5a5a; 
    --Connected_email_div_boxShadow: #5e9aaa ; 

}

body{
    overflow-x: hidden;
}

#Home_division{
    height: 100vh;
    width: 100vw;
    display: flex;
    text-align: center;
    justify-content: left;
}

#Slidemenu{
    background-color: var(--Slidemenu_bgColor);
    width: 5%;
    overflow-x: hidden;
    height: 100%;
    position: fixed;
    border-right: 0px;
    z-index: 100;

}

.Slidemenu_option{
    display: flex;
    text-align: center;
    justify-content: left;
    padding-right: 1.2rem;
    cursor: pointer;
}

.Slidemenu_image{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 0.6rem;
    padding-top: 0.80rem;
    padding-bottom: 0.80rem;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
}

.Slidemenu_option_name{
    font-size: 0.8rem;
    font-family: var(--Font_familiy);
    color: var(--Slidemenu_option_name_textColor);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.50rem;
}

.Slidemenu_option_name:hover{
    color: var(--Slidemenu_option_name_hoverColor);
}

#EmailData{
    display: block;
    padding-left: 4.5%;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    background-color: var(--Email_content_bgColor);
}

#Navbar{
    height: 8vh;
    display: flex;
    text-align: center;
    justify-content: left;
    padding-left: 0.60rem;
    background-color: var(--Slidemenu_bgColor);
}

#Title_option{
    width: 85%;
    display: flex;
    text-align: center;
    justify-content: left;
}

#Navbar_title{
    font-size: 1rem;
    font-family: var(--Font_familiy);
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    color: white;
}

#Current_email_account_information{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 0.90rem;
    font-family: var(--Font_familiy);
    margin-left: 0.50rem;
    display: none;
    background-color: #495656;
    color: white;
    padding-top: 0.20rem;
    padding-bottom: 0.20rem;
    padding-left: 0.60rem;
    padding-right: 0.60rem;
    border-radius: 5p;
}

#Navbar_option{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    text-align: center;
    justify-content: right;
    height: 100%;
    width:25%;
}

.Option_image{
    font-size: 0.40rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.30rem;
    margin-right: 0.30rem;
    box-shadow:  0.10rem 0.20rem 0.20rem rgb(163, 163, 163);
    padding: 0.40rem;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.fa-circle-envelope{
    color: black;
    margin: auto;
}



#Navbar_username{
    display: flex;
    text-align: center;
    justify-content: left;
}

#Navbar_username{
    margin-top: 0.20rem;
    margin-bottom: auto;
    margin-left: 1.3rem;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: left;
}

#UserImage{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 0.70rem;
}

.fa-user{
    color: var(--User_icon_color);
    margin-top: auto;
    margin-bottom: auto;
}



.fa-bars{
    color: var(--Slidemenu_icon_color);
}

.fa-plus{
    color: var(--Slidemenu_icon_color);
}

.fa-plus:hover{
    color: #487683 ; 
}

.fa-grid-horizontal{
    color: var(--Slidemenu_icon_color);
}

.fa-check{
    color: var(--Slidemenu_icon_color);
}

.fa-check:hover{
    color: var(--Slidemenu_icon_hoverColor);
}

.fa-plus:hover{
    color: var(--Slidemenu_icon_hoverColor);
}

.fa-bars:hover{
    color: var(--Slidemenu_icon_hoverColor);
}

.Slidemenu_email{
    color: var(--Slidemenu_icon_color);
}

.Slidemenu_email:hover{
    color: var(--Slidemenu_icon_hoverColor);
}

.dropbtn {
    font-size: 0.90rem;
    border: none;
    color: var(--Username_textColor);
    font-family: var(--Font_familiy);
    background-color: transparent;
    margin-top: auto;
    margin-bottom: auto;
}
  
/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 0.60rem;
  display: flex;
  text-align: center;
  justify-content: center;
}
  
/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width:110px;
  padding-left: 0.60rem;
  padding-right: 0.60rem;
  margin-right: 0.40rem;
  margin-top: 1.5rem;
  background-color: white;
}

  
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  padding-top: 0.40rem;
  padding-bottom: 0.40rem;
  font-size: 0.85rem;
  font-family: var(--Font_familiy);
}

#Email_content{
    height: 92vh;
    width: 100%;
    overflow-y: hidden;
    background-color: rgb(244,244,244);
}

/* Dashboard option  */

#Dashboard{
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    justify-content: center;
}

.Dashboard_option{
    background-color: var(--Dashboard_opiton_bgColor);
    box-shadow: 0.10rem 0.20rem 0.20rem var(--Dashboard_option_boxShadow);
    height: fit-content;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    width: 20%;
    color: white;
}

.Dashboard_option_title{
    font-family: 'Lato', sans-serif;
    font-size: 0.95rem;
    text-align: left;
    width: 100%;
    color: white;
}

.Dashboard_option_data{
    font-family: var(--Font_familiy);
    font-size: 1.1rem;
    margin-top: 0.10rem;
    text-align: left;
    width: 100%;
}

/* Add email option division  */

#Add_email_option{
    height: fit-content;
    width: 50%;
    display: none;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;
    overflow-y: hidden;
    background-color: white;
    box-shadow: 0.10rem 0.40rem 0.40rem #b3b3b3;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.Add_email_input_option{
    height: 1rem;
    margin-top: 1.5em;
}

.Verify_button{
    margin-top: 1.3rem;
}

#Add_email_verify_option{
    height: fit-content;
    width: 50%;
    display: none;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;
    background-color: white;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0.10rem 0.40rem 0.40rem #b3b3b3;
}


/* Email list division  */

#Email_list_division{
    height: 100%;
    width: 100%;
    display: none;
    background-color: rgb(244,244,244);
}

#All_email_option_division{
    width: 22%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    text-align: center;
    justify-content: left;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    position: fixed;
    padding-left: 1%;
}

#Back_button_option_division{
    width: 100% ; 
    text-align: left;
    justify-content: left;
    font-size: 1.30rem;
    margin-bottom: 0.80rem;
}

.fa-clock{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.80rem;
}

.fa-calendar-days{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.80rem;
}

.Add_email_title{
    font-family: var(--Font_familiy);
    font-size: 1rem;
    background-color: #2C3333;
    color:white ; 
    width: fit-content;
    padding-top: 0.30rem;
    padding-bottom: 0.30rem;
    padding-left: 0.50rem;
    padding-right: 0.50rem;
    margin-left: auto;
    margin-right: auto;
}

.All_email_option{
    font-size: 0.90rem;
    font-family: var(--Font_familiy);
    padding-top: 0.50rem;
    padding-bottom: 0.50rem;
    padding-left: 1rem;
    padding-right: 0.70rem;
    border-radius: 5px;
    background-color: var(--Dashboard_opiton_bgColor);
    box-shadow: 0.10rem 0.20rem 0.20rem var(--Dashboard_option_boxShadow);
    cursor: pointer;
    z-index: 1;
    margin-left: 0.80rem;
    margin-right: 0.80rem;
    color: white;
    display: flex;
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.All_email_option_details{
    position: relative;
    font-family: var(--Font_familiy);
    font-size: 0.85rem;
}

.All_email_option:hover{
    background-color: var(--Dashboard_option_hover_bgColor);
}

#Email_list{
    height: 100%;
    width: 77%;
    display: block;
    margin-left: 23%;
    background-color: transparent;
    overflow-y: auto;
}

#Most_recent_email{
    height: 100%;
    width: 77%;
    display: none;
    background-color: transparent;
    overflow-y: auto;
    margin-left: 23%;
}

#Reminder_email{
    height: 100%;
    width: 77%;
    display: none;
    background-color: transparent;
    overflow-y: auto;
    margin-left: 23%;
}

#Date_wise_email{
    height: 100%;
    width: 77%;
    margin-left: 23%;
    overflow-y: auto;
    display: none;
    background-color: transparent;
}

#Email_load{
    display: none;
    padding-top: 5rem;
    width: 73%;
    margin-left: 25%;
}

/* Email option division  */

.Email_option_div{
    background-color: rgb(255, 255, 255);
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius:8px;
    box-shadow: 0.10rem 0.20rem 0.20rem var(--EmailData_boxshadow_color);
    cursor: pointer;
}

.Email_option_div:hover{
    box-shadow: 0.1rem 0.6rem 0.6rem #d1d1d1;
    z-index: 500;
}

#Unseen_mail_information_title{
    font-size: var(--Font_familiy);
    font-size: 0.95rem;
    font-weight: 600;
    background-color: rgb(238,238,238);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    border-radius: 8px;
    margin-top: 0.60rem;
}

.Email_index{
    position: relative;
    left: -20px;
    top: -20px;
    z-index: 3;
    text-align: center;
    justify-content: center; 
    height: 30px;
    width: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    box-shadow: 0.05rem 0.10rem 0.10rem rgb(159, 159, 159);
}

.Email_index_data{
    font-family: var(--Font_familiy);
    font-size: 0.95rem;
    margin: auto;
}
/* Subject and option div  */

.Subject_and_option {
    display: flex;
    text-align: center;
    justify-content: left;
    padding-top: 0.60rem;
    padding-left: 0.70rem;
    padding-right: 0.70rem;
    padding-bottom: 0.60rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--Subject_title_div_bgColor);
}

.Subject_title_data{
    display: flex;
    text-align: center;
    justify-content: left;
    width: 80%;
}

.Subject_title{
    font-size: 0.75rem;
    font-family: 'Lato', sans-serif;
    color: var(--EmailOption_subject_titleColor) ; 
    margin-top: auto;
    margin-bottom: auto;
}

.Subject_data{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 0.75rem;
    font-family: 'Lato', sans-serif;
    color: var(--EmailOption_subject_dataColor) ; 
    margin-left: 0.30rem;
    text-align: left;
}

.Subject_option{
    font-size: 1.1rem;
    text-align: right;
    justify-content: right;
}

.Option{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

/* option icon color  */

.fa-eye{
    color: var(--EmailOption_icon_color); 
}

.fa-heart{
    color: var(--EmailOption_icon_color);
}

.fa-share-nodes{
    color: var(--EmailOption_icon_color);
}

.fa-arrows-rotate{
    color: var(--EmailOption_icon_color);
}

/* From and Date option division  */

.From_and_date_option{
    display: flex;
    text-align: center;
    justify-content: left;
    padding-top: 0.50rem;
    padding-left: 0.70rem;
    padding-right: 0.70rem;
    padding-bottom: 0.50rem;
}

.From_option{
    width: 50%;
    text-align: left;
    display: flex;
    text-align: center;
    justify-content: left;
}

.Date_option{
    width: 50%;
    text-align: left;
    display: flex;
    text-align: center;
    justify-content: left;
}

/* From and date title division  */

.From_date_title{
    font-size: 0.75rem;
    font-family: 'Lato', sans-serif;
    color: var(--From_date_titleColor); 
    margin-top: auto;
    margin-bottom: auto;
}

.From_date_data{
    font-family: 'Lato', sans-serif;
    font-size: 0.75rem;
    color: var(--From_date_dataColor);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.25rem;
}

/* Email content division  */

.Email_content{
    border-top: 1px solid rgb(231, 229, 229);
    padding-top: 0.40rem;
    padding-bottom: 0.40rem;
    padding-left: 0.70rem;
    padding-right: 0.70rem;
    text-align: left;
}

.Email_content_title{
    font-family: 'Lato', sans-serif;
    font-size: 0.80rem;
    color: black;
}

.Email_content_data{
    font-family: 'Mukta', sans-serif;
    font-size: 0.80rem;
    margin-top: 0.30rem;
}

.View_email_option{
    background-color: #eeeeee;
    color: #0038b1;
    font-family: var(--Font_familiy);
    font-size: 0.84rem;
    font-weight: 600;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding-top: 0.40rem;
    padding-bottom: 0.40rem;
    border-radius: 5px;
    margin-top: 0.60rem;
    margin-bottom: 0.30rem;
}

.View_email_option:hover{
    background-color: #e2e2e2;
}
/* Connected email division  */

#Connected_email_account{
    background-color: rgba(229, 229, 229, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    display: none;
    text-align: center;
    justify-content: center;
}

#Profile_information_division{
    background-color: rgba(229, 229, 229, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    display: none;
    text-align: center;
    justify-content: center;
}

#Profile_information{
    height: fit-content;
    background-color: var(--Connected_email_div_bgColor);
    border-radius: 5px;
    width: 35%;
    margin: auto;
    padding-top: 1rem;
    display: block;
}

#Social_handle_insert_information{
    height: fit-content;
    background-color: var(--Connected_email_div_bgColor);
    border-radius: 5px;
    width: 35%;
    margin: auto;
    padding-top: 1rem;
    display: none;
}

.Social_handle_input{
    display: flex;
    text-align: center;
    justify-content: left;
    font-size: 1.2rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.Social_handle_input_information{
    background-color: #395B64;
    margin-left: 1rem;
    border: 1px solid #538492;
    width: 90%; 
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    padding-top: 0.40rem;
    padding-bottom: 0.40rem;
    padding-left: 0.30rem;
    font-size: 0.85rem;
}

.Social_handle_input_information::placeholder{
    color: #d7d7d7;
}

.Social_handle_input_information:focus{
    outline: none ;
}

.fa-twitter{
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.fa-facebook{
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.fa-instagram{
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

#Connected_email{
    background-color: var(--Connected_email_div_bgColor);
    box-shadow: 0.10rem 0.20rem 0.20rem var(--Connected_email_div_boxShadow);
    border-radius: 5px;
    width: 30%;
    height: fit-content;
    margin: auto;
    padding: 1rem;
}

.Userdata_information{
    display: flex;
    text-align: center;
    justify-content: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.20rem;
    cursor: pointer;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.Userdata{
    font-family: var(--Font_familiy);
    font-size: 0.90rem;
    color: rgb(236, 236, 236);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
}

.Connected_email_close{
    display: flex;
    text-align: center;
    justify-content: right;
    font-size: 1rem;
    margin-top: 0.30rem;
    margin-bottom: 0.50rem;
}

.Add_social_handle_button{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    background-color: #395B64;
    width: 80%;
    font-family: var(--Font_familiy);
    font-size: 0.95rem;
    color: white;
    padding-top: 0.30rem;
    padding-bottom: 0.30rem;
    cursor: pointer;
}

.Add_social_handle_button:hover{
    background-color: #538492;
}

.fa-xmark{
    cursor: pointer;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.Connected_email_information{
    display: flex;
    text-align: center;
    justify-content: left;
    cursor: pointer;
    padding: 0.40rem;
    border-radius: 5px;
}

.fa-check{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 0.85rem;
}

.Connected_email{
    font-family: var(--Font_familiy);
    font-size: 0.85rem;
    color: rgb(239, 239, 239);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.50rem;
}

.Connected_email_information:hover{
    background-color: var(--Connected_email_hoverColor);
}

#Load_more_option_div{
    display: flex;
    text-align: center;
    justify-content: center;
}

.Next_pervious_button{
    width: 15%;
    margin: 1.3rem;
}

/* Alert information division  */
.Alert{
    display: none;
    width: 73%;
    margin-left:24%;
    margin-top: 0.50rem;
}

#Favorite_email_list{
   height: 100%;
   width: 100%;
   display: none;
   text-align: center;
   justify-content: left;
   overflow-y: hidden;
}

#Email_account_list{
    padding-top: 0.50rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    height: 95%;
    width:25%;
    background-color: #5e9aaa;
    border-radius: 5px;
}

.Watchlist_main_email_account{
    background-color: #487683;
    font-family: var(--Font_familiy); 
    font-size: 0.90rem;
    color: white;  
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding-top: 0.30rem;
    padding-bottom: 0.30rem;
    margin-top: 0.40rem;
    margin-bottom: 0.40rem;
    cursor: pointer;
}

.Connected_email_account_information{
    font-family: var(--Font_familiy);
    font-size: 0.80rem;
    margin-left: auto;
    margin-right: auto;
}

.Watchlist_main_email_account:hover{
    background-color: #567b85;
}

#Email_account_watchlist{
    overflow-y: auto;
    height: 95%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
}

.Watchlist_set_email_account{
    background-color: rgb(227, 227, 227);
    font-family: var(--Font_familiy);
    font-size: 0.90rem;
    padding-top: 0.30rem;
    padding-bottom: 0.30rem;
    padding-left: 0.90rem;
    padding-right: 0.90rem;
    border-radius: 8px;
    margin-top: 0.60rem;
    margin-bottom: 0.60rem;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: left;
}

#Watchlist_title{
    font-size: 0.93rem;
    font-family: var(--Font_familiy);
    color: white;
    margin-top: 0.50rem;
    margin-bottom: 1rem;
}

.Watchlist_set_email_data{
    margin-left: 0.70rem;
}

.fa-trash{
    margin-top: auto;
    margin-bottom: auto;
}

#Email_addition_option_division{
    display: flex;
    text-align: center;
    justify-content: left;
    margin-top: 0.60rem;
    margin-bottom: 0.60rem;
}

#Addition_email{
    padding-top: 0.30rem;
    padding-bottom: 0.30rem;
    padding-left: 0.30rem;
    padding-right: 0.30rem;
    font-family: var(--Font_familiy);
    font-size: 0.85rem;
    width: 13rem;
}

#Add_email_button{
    padding-top: 0.20rem;
    padding-bottom: 0.20rem;
    padding-left: 0.35rem;
    padding-right: 0.35rem;
    background-color: black;
    color: white;
    font-family: var(--Font_familiy);
    font-size: 0.85rem;
    margin-left: 0.40rem;
    border-radius: 5px;
}

.Date_information_division{
    background-color: #2C3333;
    color: white;
    font-family: var(--Font_familiy);
    font-size: 0.90rem;
    width: fit-content;
    padding-top: 0.30rem;
    padding-bottom: 0.30rem;
    padding-left: 0.70rem;
    padding-right: 0.70rem;
    margin-left: 2.5%;
    margin-top: 0.80rem;
    margin-bottom: 0.50rem;
    border-radius: 5px;
}

.fa-link{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.80rem;
}

.fa-bell{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.80rem;
}

.fa-arrows-rotate{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.80rem;
}

.fa-signal-bars{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.30rem;
}

.fa-xmark{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

#Reminder_email_list{
    display: flex;
    text-align: center;
    justify-content: left;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.90rem;
    margin-bottom: 0.90rem;
    flex-wrap: wrap;
}

.Reminder_email_list_option{
    font-family: var(--Font_familiy);
    font-size: 0.85rem;
    background-color: var(--Dashboard_opiton_bgColor);
    color: white;
    padding-top: 0.30rem;
    padding-bottom: 0.30rem;
    padding-left: 0.50rem;
    padding-right: 0.50rem;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 0.40rem;
    margin-top: 00.20rem;
    margin-bottom: 00.20rem;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

#Email_content_division{
    height: 100%;
    width: 75%;
    display: none;
    cursor: pointer;
    margin-left: 23%;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: 1px solid rgb(230, 230, 230);
    margin-top: 0.30rem;
    margin-bottom: 0.60rem;
}

#Email_content_title_like{
    display: flex;
    text-align: center;
    justify-content: left;
    padding-top: 0.6rem;
    padding-left: 0.70rem;
    padding-bottom: 0.30rem;
    font-size: 1.3rem;
    background-color: #2c3333;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#Email_content_title_like_div{
    display: flex;
    text-align: center;
    justify-content: left;
    width: 90%;
}

#Forward_backward_option{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
}

.fa-caret-left{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.50rem;
    cursor: pointer;
    color: #4e7884;
}

.fa-caret-left:hover{
    color: #61c3de; 
}

.fa-caret-right:hover{
    color: #61c3de ; 
}

.fa-caret-right{
    margin-left: 0.50rem;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    color: #4e7884;
}

#Email_content_title{
    font-family: var(--Font_familiy);
    font-size: 0.85rem;
    background-color: #4e7884;
    color: white;
    width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 0.30rem;
    padding-bottom: 0.30rem;
    padding-left: 0.90rem;
    padding-right: 0.90rem;
    border-radius: 4px;
    width: 90%  ;
    text-align: left;
}

.fa-star{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.70rem;
    color: #61c3de;
}

#Email_content_from_and_date_information{
    width: 85%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-left: 0.80rem;
    padding-top: 0.4rem;
    padding-bottom: 0.5rem;
    background-color: #2c3333;
    border-bottom: 1px solid rgb(214, 214, 214);
    margin-left: auto;
    margin-right: auto;
}

#Email_content_from{
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: left;
}

#Email_content_date{
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: left;
    border-left: 1px solid rgb(189, 189, 189);
    border-right: 1px solid rgb(189, 189, 189);
    padding-left: 0.50rem ;
}

.Email_content_title_information{
    font-family: var(--Font_familiy);
    font-size: 0.85rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.Email_content_title_data{
    font-family: var(--Font_familiy);
    font-size: 0.85rem;
    color: rgb(237, 237, 237);
    margin-left: 0.20rem;
}

#Email_data{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.90rem;
    font-family: var(--Font_familiy);
    color: rgb(48, 48, 48);
    text-align: left;
    background-color: white;
    border-left: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    height: 74vh;
    overflow-y: auto;
    word-wrap: break-word;
    padding-top: 0.5rem;
    padding-left: 0.60rem;
    padding-right: 0.60rem;
    padding-bottom: 0.60rem;
}

.Back_inbox_option{
    font-size: 1.4rem;
    margin-right: 1rem;
}

.fa-envelope{
    cursor: pointer;
}

.fa-envelope:hover{
    color: #487683;
}

#Calender_selection_option{
    height: 100%;
    width: 100%;
    text-align: left;
    padding-left: 0.50rem;
    padding-top: 0.30rem;
    padding-right: 0.30rem;
    display: none;
}

#Calender_title_close{
    display: flex;
    text-align: center;
    justify-content: left;
    margin-top: 0.40rem;
}

#Set_date_time_close_option{
    font-size: 1.2rem;
    margin-left: -0.60rem;
    margin-top: auto;
    margin-bottom: auto;
}

#Set_email_date_title_division{
    font-family: var(--Font_familiy);
    font-size: 0.90rem;
    background-color: #395B64;
    width: fit-content;
    padding-top: 0.50rem;
    padding-bottom: 0.50rem;
    padding-left: 0.90rem;
    padding-right: 0.90rem;
    border-radius: 5px;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

#Date_input_option_division{
    display: flex;
    text-align: center;
    justify-content: left;
    padding-left: 0.60rem;
    margin-top: 1.2rem;
    background-color: #2C3333;
    padding-top: 0.80rem;
    padding-bottom: 0.30rem;
    border-top: 1px solid rgb(172, 172, 172);
}

.Start_and_end_date_input{
    display: flex;
    text-align: center;
    justify-content: left;
    width: 50%;
}

.Start_and_end_date_title{
    font-size: 0.90rem;
    font-family: var(--Font_familiy);
    margin-top: auto;
    margin-bottom: auto;
    background-color: #4e7c88;
    padding-top: 0.20rem;
    padding-bottom: 0.20rem;
    padding-left: 0.50rem;
    padding-right: 0.50rem;
    border-radius: 5px;
    color: white;
}

.Date_input{
    font-size: 0.95rem;
    font-family: var(--Font_familiy);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.50rem;
    color: rgb(36, 36, 36);
    padding-left: 0.20rem;
    padding-top: 0.10rem;
    padding-bottom: 0.10rem;
    border: 1px solid gray;
    cursor: pointer;
}

#Email_input_submit_button{
    display: flex;
    text-align: center;
    justify-content: left;
    padding-left: 0.30rem;
    background-color: #2c3333;
    padding-top: 0.60rem;
    padding-bottom: 0.80rem;
    border-bottom: 1px solid rgb(172, 172, 172);

}

#Add_email_and_addition_button{
    display: flex;
    text-align: center;
    justify-content: left;
    width: 80%;
}

#Add_email_button{
    font-size: 0.85rem;
    font-family: var(--Font_familiy);
    width: fit-content;
    background-color: #495656;
    text-align: center;
    justify-content: center;
    padding-top: 0.30rem;
}

#Notification_email{
    font-size: 0.90rem;
    font-family: var(--Font_familiy);
    padding-top: 0.20rem;
    padding-bottom: 0.20rem;
    padding-left: 0.30rem;
    margin-left: 0.80rem;
    border: 1px solid gray;
    width: 30%;
}

#Check_other_notification_option{
    background-color: #2C3333;
    font-size: 0.85rem;
    font-family: var(--Font_familiy);
    padding-top: 0.30rem;
    color: white;
    padding-left: 00.30rem;
    padding-right: 0.30rem;
    border-radius: 5px;
}

#Notification_email_list_division{
    height: 61vh;
    width: 100%;
}

.Notification_email_list_data{
    display: flex;
    text-align: center;
    justify-content: left;
    padding-top: 0.80rem;
    padding-bottom: 0.80rem;
    cursor: pointer;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.50rem;
    margin-bottom: 0.50rem;
}
.Notification_email_list_data:hover{
    background-color: white;
    border: 1px solid rgb(213, 213, 213);
}

.Notification_email_delete{
    padding-left: 0.40rem;
    padding-right: 0.40rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.50rem;
}

.Notification_email{
    font-size: 0.95rem;
    font-family: var(--Font_familiy);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.60rem;
    width: 70%;
    text-align: left;
    justify-content: left;
}

.Notification_email_date{
    font-size: 0.90rem;
    font-family: var(--Font_familiy);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.50rem;
    margin-right: 0.50rem;
    background-color: #487683;
    color: white;
    padding-top: 0.10rem;
    padding-bottom: 0.10rem;
    padding-left: 0.30rem;
    padding-right: 0.30rem;
    width: 15%;
}

#Social_handle_information_division{
    background-color: rgba(229, 229, 229, 0.5);
    height: 100vh;
    width: 100vw;
    position: absolute;
    margin: auto;
    z-index: 12;
    display: none;
    text-align: center;
    justify-content:  center;
}

#Social_handle_data{
    background-color: var(--Connected_email_div_bgColor);
    border-radius: 5px;
    width: 30%;
    height: fit-content;
    margin: auto;
    padding: 1rem;
}

.Social_handle_title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.90rem;
    color: white;
    margin-top: 1rem;
}

@media only screen and (max-width:500px){
    #Navbar{
        height: 15vh;
        display: block;
    }
    
    #Title_option{
        width: 100%;
        padding-top: 0.60rem;
    }

    #Navbar_username{
        width: 92%;
        height: fit-content;
        margin-top: 1rem;
        margin-left: 0.40rem;
    }

    .dropdown{
        margin-top: 0rem;
    }

    #Email_data_division{
        padding-top: 15vh;
    }

    #Slidemenu{
        width: 15%;
    }

    .Slidemenu_image{
        padding-left: 0.50rem;
        padding-right: 0.50rem;
    }

    .dropdown-content{
        width: 160px;
    }
}
